/* CSS Document */

.kl_layout_container {
	position:relative;
	border:1px dotted #999999;

	}

.kl_region {
	padding:0px;
	position:absolute !important;
}


.kl_region_controls_left {
	padding:10px;
	float:left;
}

.kl_region_controls_right {
	padding:10px;
	float:right;
}



.VERTICALBANNER {
	background : #cacaca;	
}

.TICKERBANNER {
	background:#f0f0f0;
	
}

.SPONSORBANNER {
	background:#d5d5d5;
	
}

.MAINCONTENT {
	background:#b4b4b4;
	
}