<link rel="stylesheet" type="text/css" href="assets/instillo/region-layout.css">

<div class="span12">
	<div class="kl_layout_container" style="width:1024px; height:768px;">

		<div class="kl_region video main" style="left:0px; top:100px; width:800px; height:450px;">
			<div class="kl_region_controls"></div>
			
			</div>
			
			<div class="kl_region banner" style="left:800px; top:0px; height:768px; width:224px;">
			
			</div>
			
			<div class="kl_region ticker" style="left:0px; top:0px; height:100px; width:800px;">
			
			</div>
			
			<div class="kl_region sponsor" style="left:0px; top:550px; height:230px; width:800px;">
			
			</div>


	</div>
</div>
