

html, body, div, head, p, span, a, input, form, table, tbody, tr, td, h1, h2, h3, h4, h5, h6, ul, li {
  position: relative;
  padding: 0px;
  margin: 0px; }


.sch-autofit {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.sch-btn {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-image: none;
  background-color: #f4f4f4;
  padding: 2px 5px;
  border: 1px solid lightgray;
  border-radius: 3px; }
  .sch-btn:hover {
    cursor: pointer; }

.sch-btn-primary {
  background-color: #669bbf;
  color: white;
  border: 1px solid #669bcf; }

.sch-btn-success {
  background-color: #BDD982;
  color: white;
  border: 1px solid #BDD972; }

.sch-hide {
  display: none; }

.sch-show {
  display: block; }

.sch-show-i {
  display: inline; }

.sch-show-ib {
  display: inline-block; }

#sch-status {
  position: fixed;
  left: 0px;
  top: 10px;
  right: 0px;
  z-index: 2500;
  font-size: 11px;
  font-weight: bold; }
  #sch-status div {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

.sch-status-success {
  background-color: #BDD982; }

.sch-status-error {
  background-color: #BC5D2F; }

.sch-status-notice {
  background-color: #669BBF; }

.sch-run-repeat {
  font-size: 12px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 8px;
  text-align: center;
  margin-bottom: 10px; }
  .sch-run-repeat td label {
    font-weight: bold; }
  .sch-run-repeat td input[type="text"] {
    padding: 3px;
    border-radius: 3px; }

.sch-repeat-run-remove .sch-repeat-run-info {
  padding: 10px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
.sch-repeat-run-remove .sch-repeat-run-remove-types .sch-btn {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }

.sch-modal-backdrop {
  position: fixed;
  width: 100%;
  bottom: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2000; }
  .sch-modal-backdrop .sch-modal {
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    overflow: hidden;
    padding-bottom: 20px; }
    .sch-modal-backdrop .sch-modal .sch-modal-close {
      position: absolute;
      right: 5%;
      top: 10px;
      z-index: 1; }

.sch-run-repeat-info {
  margin-top: 10px;
  border-top: 1px solid lightgray;
  font-weight: bold; }

.sch-popover {
  display: block;
  padding: 8px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: absolute;
  padding-bottom: 20px; }
  .sch-popover .sch-popover-title {
    margin-bottom: 10px; }

.sch-pull-left {
  float: left; }

.sch-pull-right {
  float: right; }

input[type="text"] {
  border: 1px solid lightgray; }

input[type="text"].sch-input-tiny {
  font-size: 11px;
  width: 60px; }

input[type="text"].sch-input-micro {
  width: 20px;
  font-size: 11px; }

.clearfix:after {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  line-height: 0; }

.clearfix {
  z-index: -100; }

.sch-thumbnail-tiny {
  width: 31px;
  height: 31px;
  background-color: white;
  float: left;
  margin-right: 5px;
  overflow: hidden;
  background-color: #333333; }
  .sch-thumbnail-tiny img {
    width: 100%;
    min-height: 100%; }

#sch-timeline {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 95%;
  margin: auto;
  max-height: 600px;
  font-size: 12px; }
  #sch-timeline #sch-entities-info {
    width: 15%;
    float: left;
    position: absolute;
    z-index: 3;
    height: 100%;
    background-color: white;
    border-right: 1px solid lightgray; }
    #sch-timeline #sch-entities-info #sch-section {
      margin-top: 80px; }
      #sch-timeline #sch-entities-info #sch-section #sch-entity-names {
        top: 95px;
        overflow: hidden;
        background-color: white;
        border-right: 1px solid lightgray;
        padding-bottom: 120px; }
        #sch-timeline #sch-entities-info #sch-section #sch-entity-names li {
          margin-bottom: 5px;
          overflow: hidden;
          padding-right: 5px;
          line-height: 110%;
          background-color: white;
          word-wrap: break-word; }
          #sch-timeline #sch-entities-info #sch-section #sch-entity-names li span {
            top: 5px;
            margin-right: 5px; }
          #sch-timeline #sch-entities-info #sch-section #sch-entity-names li a {
            top: 5px;
            margin-right: 5px; }
          #sch-timeline #sch-entities-info #sch-section #sch-entity-names li .sch-thumbnail-tiny {
            top: 2px;
            left: 2px; }
          #sch-timeline #sch-entities-info #sch-section #sch-entity-names li .sch-entity-actions {
            font-size: 9px;
            color: #0072c6; }
            #sch-timeline #sch-entities-info #sch-section #sch-entity-names li .sch-entity-actions:hover {
              cursor: pointer; }
        #sch-timeline #sch-entities-info #sch-section #sch-entity-names .sch-sorting {
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
          background-color: rgba(235, 235, 235, 0.8); }
  #sch-timeline #sch-scheduler {
    background-image: url('../images/grid.png');
    background-size: 31px;
    padding-bottom: 50px;
    overflow: hidden;
    margin-left: 15%;
    padding-bottom: 120px; }
    #sch-timeline #sch-scheduler #sch-shead {
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
      z-index: 2;
      background-color: white; }
      #sch-timeline #sch-scheduler #sch-shead #sch-months {
        background-color: white;
        padding-bottom: 30px;
        height: 50px; }
        #sch-timeline #sch-scheduler #sch-shead #sch-months h2 {
          position: absolute;
          float: left;
          padding-left: 5px;
          font-size: 31.5px; }
      #sch-timeline #sch-scheduler #sch-shead #sch-days {
        height: 100%; }
        #sch-timeline #sch-scheduler #sch-shead #sch-days .sch-day {
          border-right: 1px solid #f1f1f1;
          float: left;
          width: 30px;
          text-align: center;
          padding: 5px 0px;
          height: 100%;
          font-weight: bold;
          background-color: white; }
      #sch-timeline #sch-scheduler #sch-shead #sch-slot-records {
        margin-bottom: 30px;
        line-height: 35px; }
        #sch-timeline #sch-scheduler #sch-shead #sch-slot-records .sch-slot-record {
          width: 31px;
          height: 35px;
          float: left;
          font-weight: bold;
          color: white;
          text-align: center;
          font-size: 9px; }
    #sch-timeline #sch-scheduler #sch-entities #sch-runs-container {
      top: 0px;
      left: 0px;
      width: 0px;
      height: 0px;
      z-index: 1; }
      #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run {
        position: absolute; }
        #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run .sch-media-run-minutes {
          font-weight: bold;
          left: 5px;
          font-size: 11px;
          color: white;
          top: 10%; }
        #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run i {
          position: absolute;
          left: 8px; }
        #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run i:hover {
          cursor: pointer; }
        #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run i.edit {
          bottom: 2px; }
        #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run i.pin {
          opacity: 0.5; }
        #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run i.pinned {
          opacity: 1; }
        #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run .sch-popover {
          font-size: 12px;
          width: 250px;
          left: 8px;
          top: 10px;
          position: absolute; }
          #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run .sch-popover .sch-section-date {
            margin-bottom: 20px; }
          #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run .sch-popover .sch-popover-title {
            font-weight: bold; }
          #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run .sch-popover .sch-btn {
            margin-right: 10px; }
          #sch-timeline #sch-scheduler #sch-entities #sch-runs-container .sch-run .sch-popover input[type="text"] {
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: 1px; }
    #sch-timeline #sch-scheduler #sch-entities .sch-entity {
      margin-bottom: 5px; }

.sch-run-holder {
  height: 35px;
  width: 31px;
  float: left;
  background-color: rgba(235, 235, 235, 0.9); }

/*
 * banner scheduling specific styles
 */
.sch-banner-no-slots-vacant {
  background-color: #bc5d2f; }

.sch-banner-slots-vacant-one {
  background-color: #bdd982; }

.sch-banner-slots-vacant-two {
  background-color: #a4bd67; }

.sch-banner-slots-vacant {
  background-color: #87a33c; }

.sch-banner-holder-active {
  background-color: rgba(135, 163, 60, 0.9); }

.sch-banner-holder-slots-full-warning {
  background-color: rgba(188, 93, 47, 0.9); }

.sch-banner-run {
  background-color: #87a33c; }

/*
 * media scheduling specific styles
 */
.sch-media-default {
  background-color: #bdd982; }

.sch-media-slot-total-one {
  background-color: #a4bd67; }

.sch-media-holder-active {
  background-color: rgba(123, 206, 197, 0.9); }

.sch-media-run {
  background-color: #438899; }

